/* CSS structure for index page */
.index-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    /* grow with the container */
    flex-grow: 1;
}

/* Override NES container styling */
.nes-container.with-title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: calc(100vh - 20px);
    width: calc(100% - 20px);
}

.main-container {
    flex: 1;
    display: block;
}

/* Position close button at the bottom */
.bottom-button-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

/* Removed mouse style override from NES.css: */
* {
    cursor: auto !important;
}

/* Form element spacing */
.nes-field {
    margin-bottom: 20px;
}

/* Ensure nes-select is-inline mimics nes-field */
.nes-select.is-inline {
    display: flex;
    text-align: left;
}

.nes-select.is-inline label {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0;
    margin-right: 1.5rem;
    text-align: right;
}

.nes-select.is-inline select {
    flex-basis: 0;
    flex-grow: 5;
}

@media screen and (max-width: 768px) {
    .nes-select.is-inline {
        display: block;
    }

    .nes-select.is-inline label {
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .nes-select.is-inline select {
        max-width: 100%;
    }
}

/* Button spacing */
.nes-btn {
    margin: 10px 10px;
    display: block;
    width: 100%;
    /* Limit width for better appearance */
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.error-message {
    /* This is the NES.css error text color */
    color: #e76e55;
    /* Add compact margins between messages */
    margin: 2px 0;
}

.message-container {
    /* Smaller font size than before */
    font-size: 0.8em;
    min-height: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.logs-container {
    font-size: 0.5em;
}

@media screen and (max-width: 400px) {
    .nes-btn {
        width: fit-content;
    }

    .nes-container.with-title {
        width: calc(100% - 10px);
    }
}