{{ template "_input_secret.html" . }}

<div class="nes-field is-inline">
    <label for="url">URL:</label>
    <input type="url" name="url" list="urls" placeholder="Enter server URL" class="nes-input" required
           title="The URL of the relay server to connect to: https://my-server.com"
           value={{ .InputCache.Get "url" }}>
    <datalist id="urls">
        {{ range $url := .URLs }}
        <option value="{{ $url }}"></option>
        {{ end }}
    </datalist>
</div>

<div class="nes-field is-inline">
    <label for="ca-cert">CA Cert:</label>
    <input list="ca-cert-options" name="ca-cert" placeholder="Enter or select CA cert path" class="nes-input"
           title="Path to the Certificate Authority (CA) certificate file on local machine: ~/username/ca.crt"
           value={{ .InputCache.Get "ca-cert" }}>
    <datalist id="ca-cert-options">
        {{ range $file := .CAFiles }}
        <option value="{{ $file }}"></option>
        {{ end }}
    </datalist>
</div>