{{template "header.html" .}}
<p class="title">Connect to the Server</p>

{{template "_messages.html" .}}

<div class="main-container">
    <form method="POST" action="/connect">
        <div class="nes-field is-inline">
            <label for="invite-code">Invite Code:</label>
            <input name="invite-code" placeholder="Enter invite code" class="nes-input" required
                   title="An invide code from the game host to connect to the game. Format: XXXX-XXXX"
                   pattern="[A-Za-z0-9]{4}-[A-Za-z0-9]{4}" value={{ .InputCache.Get "invite-code" }}>
        </div>

        <div class="nes-field is-inline">
            <label for="name">Name:</label>
            <input name="name" placeholder="Enter player name" class="nes-input" required
                   title="A player's name to identify the connection to the game host."
                   value={{ .InputCache.Get "name" }}>
        </div>

        {{ template "_advanced.html" . }}

        <button type="submit" class="nes-btn is-primary">Start</button>
    </form>
</div>

<div class="bottom-button-container">
    <a href="/" class="nes-btn is-warning">Back</a>
</div>

<script>
    document.querySelectorAll('.nes-input[pattern]').forEach(input => {
        input.addEventListener('input', () => {
            if (input.checkValidity()) {
                input.classList.remove('is-error');
                input.classList.add('is-success');
            } else {
                input.classList.remove('is-success');
                input.classList.add('is-error');
            }
        });
    });
</script>
{{template "footer.html" .}}