{{template "header.html" .}}
<p class="title">Running server</p>

<div class="main-container">
    <p>Connected to: {{ .GameAddress }}</p>
    <label for="invite-code">Invite your friend, invite code:</label>
    <textarea id="invite-code" class="nes-textarea" readonly rows="1">{{ .InviteCode }}</textarea>

    <label for="textarea-logs">Logs</label>
    <div class="logs-container">
        <textarea id="textarea-logs" class="nes-textarea" readonly rows="5"></textarea>
    </div>
</div>

<div class=" bottom-button-container">
    <a href="/stop-host" class="nes-btn is-warning">Stop</a>
</div>

<script>
    const eventSource = new EventSource('/logs');
    eventSource.onmessage = function (event) {
        const textareaElement = document.getElementById('textarea-logs');
        textareaElement.value += event.data + '\n';
        textareaElement.scrollTop = textareaElement.scrollHeight; // Auto-scroll to the bottom
    };
</script>

{{template "footer.html" .}}