{{template "header.html" .}}
<p class="title">Start server</p>

{{template "_messages.html" .}}

<div class="main-container">
    <form method="POST" action="/start-host" class="server-form">
        {{ template "_input_secret.html" . }}

        <div class="nes-select is-inline">
            <label for="listen-port">Game:</label>
            <select required name="listen-port">
                <option value="" disabled selected hidden>Select a game to host</option>
                {{ range $game := .Games }}
                {{/* choose pre-selected game */}}
                <option value="{{$game.Port}}" {{ if eq ($.InputCache.Get "listen-port" ) (printf "%d" $game.Port) }}selected{{ end }}>{{$game.Name}}</option>
                {{ end }}
            </select>
        </div>

        <button type="submit" class="nes-btn is-primary">Start</button>
    </form>
</div>

<div class="bottom-button-container">
    <a href="/start-host-advanced" class="nes-btn">Advanced Settings</a>
</div>
<div class="bottom-button-container">
    <a href="/" class="nes-btn is-warning">Back</a>
</div>
{{template "footer.html" .}}