# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Test

on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: sudo apt-get update &&
            sudo apt-get install libpcap-dev
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - name: Check systemd version
        run: |
          sudo systemctl --version

      - name: Test
        run: |
          sudo --preserve-env \
            env "PATH=$PATH" \
            go test -tags=integration -race -v -timeout 30s ./...

  golangci:
    name: lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "v1.24"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8.0
          args: --timeout=2m

  tidy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
      - name: go mod tidy
        run: |
          go mod tidy
          git diff --exit-code
